@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';
@import '../../assets/styles/selectors.scss';


.select {
    border: none;
    background-color: $transparent-color;
    position: relative;

    .dropdown-menu {
        background-color: $transparent-color;
        padding: 5px 0;
        font-size: 1.3rem;
        border: none;
        cursor: pointer;
        user-select: none;
        width: 200px;
        @extend %elementFullWidth;

        &::after {
            @include dropMenuAfter($top: 20%, $border: 2px solid $black-color);
            border-top: 2px solid $transparent-color;
            border-right: 2px solid $transparent-color;
        }

        &.active {
            color: $red-color;
        }

        &.active::after {
            @include dropMenuAfter($top: 40%, $border: 2px solid $red-color);
            border-bottom: 2px solid $transparent-color;
            border-left: 2px solid $transparent-color;
        }
    }
    
    .sort-list {
        margin-top: 10px;
        position: absolute;
        z-index: 1000;
        background-color: $primary-color;
        width: 100%;
    
        .sort_value {
            text-align: center;
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 1rem;
            user-select: none;
            background-color: $primary-color;
    
            &:hover{
                background-color: #f4eddd;
            }
        }
    }
}

@media (max-width: 900px) {
    .select {
        .dropdown-menu {
            font-size: 1.2rem;
            width: 150px;
        }

        .sort-list .sort_value{
            font-size: 1.2rem;
        }
    }      
}







