@import '../../assets/styles/selectors.scss';
@import '../../assets/styles/colors.scss';


.header-nav {
    @extend %elementFullWidth;
    padding: 10px;
    margin: 0 5%;
    user-select: none;

    .logo {
        @extend %logoSize;
    }

    & ul li {
        color: $text-color;
        display: inline-block;
        margin-left: 40px;
        position: relative;

        .cart-qty, .favorite-qty {
            position: absolute;
            top: 0;
            right: -8px;
            border: 2px solid $black-color;
            border-radius: 50%;
            background-color: $red-color;
            height: 23px;
            width: 23px;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}

@media (max-width: 700px) {
    .header-nav {
        padding: 30px
    }
}

@media (max-width: 900px) {
    .header-nav {
        padding: 30px;
    }
}
