@import '../../assets/styles/selectors.scss';
@import '../../assets/styles/colors.scss';


.header {
    @extend %elementFullWidth;
    padding: 10px;
    margin: 0 5%;
    user-select: none;

    .header__logo-img {
        @extend %logoSize;
    }

    & .menu__item {
        color: $text-color;
        display: inline-block;
        position: relative;
        margin-left: 10px;

        .menu__cart-qty, .menu__favorite-qty {
            position: absolute;
            top: 0;
            right: -8px;
            border: 2px solid $black-color;
            border-radius: 50%;
            background-color: $red-color;
            height: 23px;
            width: 23px;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}
