@import '../../assets/styles/selectors.scss';
@import '../../assets/styles/values.scss';


.mainContainer {
    height: 600px;
    width: $full-width;
    margin-top: 100px;
    align-items: center;
    position: relative;

    .chevronLeft {
        @extend %chevron;
        left: 1rem; 
    }
    
    .chevronRight {
        @extend %chevron;
        right: 1rem;
    }

    .window {
        width: $full-width;
        height: $full-height;
        overflow: hidden;

        .allPagesContainer {
            height: $full-height;
            display: flex;
            flex-direction: row;
            transition: .8s ease-out;

            .carouselImages {
                height: $full-height;
                min-width: $full-width;
                min-height: $full-height
            }
        }
    }
}

@media (max-width: 880px) {
    .mainContainer {
        height: 450px;

        .chevronLeft, .chevronRight{
            font-size: 62px;
        }
    }
}

@media (max-width: 500px) {
    .mainContainer {
        display: none;
    }
}