@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #faf9f8;
    color: #16191D;

    .main {
        padding: 0 5%;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}



