@import '../../assets/styles/colors.scss';
@import '../../assets/styles/values.scss';


.product-detail {
    background-color: $primary-color;
    margin: 150px 0;
    padding: 3rem;
    display: flex;
    user-select: none;

    .product__picture {
        width: 300px;
        min-width: 300px;
        
        & img {
            max-width: $full-width;
            height: $full-height;
        }
    }
    .product__info {
        margin-left: 80px;  

        .product__title {
            font-size: 2rem;
        }

        .product__category {
            font-size: 1.4rem;
            margin-top: 1.5rem;
        }

        .product__description {
            margin-top: 1.5rem;
        }

        .product__price {
            margin-top: 4rem;
            font-size: 2rem;
        }
    }

    .product__btns {
        margin-top: 1.7rem;

        .cart-btn, .favorite-btn {
            height: 45px;
            float: left;
            padding: 10px;
            border: 1px solid $black-color;
            cursor: pointer;
        }

        .cart-btn {
            background-color: $black-color;
            color: #fff;
        }

        .cart-btn:active {
            background-color: rgb(71, 71, 71);
            transform: scale(0.95);
        }
        
        .favorite-btn {
            background-color: inherit;
        }

        .favorite-btn.active {
            color: $red-color;
            border-color: $red-color;
        }
    }
}

@media (max-width: 900px) {
    .product-detail {
        margin: 2rem 4rem;
        padding: 2rem;
        display: block;
        position: relative;

        .product__picture {
            width: 100%;
            display: flex;
            justify-content: center;
            
            & img {
                height: 450px;
            }
        }

        .product__info {
            margin: 30px 0 0;

            .product__title {
                font-size: 1.5rem;
            }

            .product__category {
                font-size: 1.3rem;
                margin-top: 1.2rem;
            }

            .product__price {
                font-size: 1.7rem;
            }
        }

        .product__btns {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
        }
    }
}

