$primary-color: #fff;
$text-color: #16191D;
$black-color: #222;
$footer-bgc: #e4e4e4;
$card-product-color: #fcf8f1;
$card-border-color: lightgray;
$red-color: rgb(241, 71, 71);
$transparent-color: transparent;